<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Pyccuracy</string>
	<key>uuid</key>
	<string>FEF57B29-70EB-450D-9208-53F9CC41BADB</string>
</dict>
</plist>
